<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Tittle - Cinemark Simulator</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<style>
    .nav-link {
        width: 7rem;
        background-color: maroon;
        text-align: center;
        margin-inline: .1rem;
    }

    #hover-cinema {
        transition: all 0.2s ease;
        cursor: pointer;
    }

        #hover-cinema:hover {
            scale: 1.2;
        }

    #link-da-logo {
        text-decoration: none;
        margin-left: 3rem;
    }

    }
</style>
<body class="d-flex flex-column min-vh-100 bg-dark">

    @* Navbar / Barra de Navegação *@
    <nav class="container bg-black">
        <header class="d-flex justify-content-between  align-items-center my-3">

            <a id="link-da-logo" href="http://localhost:9999">
                <label id="hover-cinema" class="fs-1 fw-bold text-danger ">Cinemar<span class="text-white">K</span></label> <span class="text-light fw-semibold fs-6">Simulator</span>
            </a>

            <ul class="nav nav-pills d-flex">
                <li class="nav-item"><a href="@Url.Action("ListarSessoesDiarias","Sessao")" class="nav-link text-white btn btn-danger fw-bold p-3">Sessões de Hoje</a></li>
                <li class="nav-item"><a href="/sala/listar" class="nav-link text-white btn btn-danger fw-bold p-3">Salas</a></li>
                <li class="nav-item"><a href="/filme/listar" class="nav-link text-white btn btn-danger fw-bold p-3">Filmes</a></li>
                <li class="nav-item"><a href="/sessao/listar" class="nav-link text-white btn btn-danger fw-bold p-3">Sessão</a></li>
                <li class="nav-item"><a href="/login/" class="nav-link text-white btn btn-secondary fw-bold p-3">Sistema</a></li>
            </ul>
        </header>
    </nav>

    @* Conteúdo Principal *@
    <main class="container my-3 card  bg-black text-white rounded">
        <h1>@ViewBag.Tittle</h1>
        <hr />
        @RenderBody()
    </main>

    @* Footer / Ródapé *@
    <footer class="d-flex container bg-black justify-content-center m-auto-lg">
        <p class="text-white py-3 fs-4 mt-0">&copy; - 2024 - Cinemark Simulator</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.mask.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
